palette = "gruvbox_dark"

continuation_prompt = "[❯](bold green)"
format = """($all)$character"""
# right_format = """$all"""
add_newline = false

scan_timeout = 1000
command_timeout = 1000

[directory.substitutions]
'~/development/dotfiles' = 'dotfiles'
'~/development' = 'development'
'~/workspace' = 'workspace'

[cmd_duration]
min_time_to_notify = 200_000

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"
vimcmd_symbol = "[❮](bold yellow)"

[line_break]
disabled = false

[username]
format = "\\[($style)[$user@]($style)"
style_user = "red"
show_always = false
disabled = true

[hostname]
ssh_only = false
format = "\\[[MBP]($style)\\] "
style = "color_blue"

[aws]
disabled = true
symbol = "  "

[conda]
symbol = " "

[dart]
symbol = " "

[directory]
read_only = " "
truncation_length = 2
# truncation_symbol=".../"
truncate_to_repo = true

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[git_branch]
symbol = " "

[golang]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[memory_usage]
symbol = " "

[nim]
symbol = " "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "
disabled = true

[package]
symbol = " "

[perl]
symbol = " "

[php]
symbol = " "

[python]
symbol = " "
pyenv_version_name = false
python_binary = ["./.venv/bin/python", "./venv/bin/python", "python3", "python"]
disabled = false

[ruby]
symbol = " "

[rust]
symbol = " "

[scala]
symbol = " "

[shlvl]
symbol = " "

[swift]
symbol = "ﯣ "

[palettes.gruvbox_dark]
color_fg0 = '#fbf1c7'
color_bg1 = '#3c3836'
color_bg3 = '#665c54'
color_blue = '#458588'
color_aqua = '#689d6a'
color_green = '#98971a'
color_orange = '#d65d0e'
color_purple = '#b16286'
